@model Examen_Biblioteca.Models.Libros

@{
    ViewData["Title"] = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Eliminar Libro</h1>

<hr />

<div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
        <div class="card border-danger">
            <div class="card-body">

                <h5 class="text-danger mb-3">
                    ¿Está seguro que desea eliminar este libro?
                </h5>

                <dl class="row mb-0">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Titulo)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Titulo)
                    </dd>

                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Autor)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Autor)
                    </dd>

                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Genero)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Genero)
                    </dd>

                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.AnioPublicacion)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.AnioPublicacion)
                    </dd>
                </dl>

            </div>

            <div class="card-footer d-flex gap-2">
                <form asp-action="Delete" class="m-0">
                    <input type="hidden" asp-for="Id" />
                    <button type="submit" class="btn btn-danger">
                        Eliminar
                    </button>
                </form>

                <a asp-action="Index" class="btn btn-secondary">
                    Cancelar
                </a>
            </div>
        </div>
    </div>
</div>
