@model Examen_Biblioteca.Models.Libros

@{
    ViewData["Title"] = "Detalle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalle del Libro</h1>

<hr />

<div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
        <div class="card">
            <div class="card-body">
                <dl class="row mb-0">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Titulo)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Titulo)
                    </dd>

                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Autor)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Autor)
                    </dd>

                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Genero)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Genero)
                    </dd>

                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.AnioPublicacion)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.AnioPublicacion)
                    </dd>
                </dl>
            </div>
            <div class="card-footer d-flex gap-2">
                <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">
                    Editar
                </a>
                <a asp-action="Index" class="btn btn-secondary">
                    Volver a la Lista
                </a>
            </div>
        </div>
    </div>
</div>
